@font-face {
	font-family: 'NorseBold';
	src:
		url('fonts/norse-bold-webfont.woff') format('woff'),
		url('fonts/norse-bold-webfont.woff2') format('woff2');
}
* {
	box-sizing: border-box;
}

body {
	background-color: #f9fafb;
	display: flex;
	padding: 0;
	margin: 0;
}

#leftside {
	background-image: url('images/halie-west-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100% auto;
	width: 40vw;
	min-width: 40rem;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#rightside {
	flex-grow: 1;
}

#logowrapper {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	height: 10em;
	display: inline;
}
#logo {
	display: flex;
	align-items: center;
}
#logotext {
	font-family: NorseBold, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 6rem;
	margin: 0;
}
.credit {
	color: white;
	position: absolute;
	bottom: 0;
}
.credit a {
	color: inherit;
}
#descriptionwrapper {
	width: 100%;
	height: 40vh;
	display: flex;
	padding: 0 0 5% 5%;
}

#description {
	line-height: 1.2lh;
	align-self: flex-end;
	margin: 0;
	width: 55ch;
	font-family: Helvetica, Arial, sans-serif;
}
fieldset {
	background-color: white;
	border: 0;
	height: 30vh;
	padding: 0 0 0 5%;
	box-shadow: 0 0.4em 1em lightgrey;
}
fieldset h2 {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

#fields {
	display: flex;
}
.fieldcolumn {
	display: flex;
	flex-direction: column;
}
.fieldcolumn:last-child {
	margin-left: 8%;
}
input {
	width: 16rem;
	height: 2rem;
	font-size: 1rem;
	padding: 1px 6px;
	border: 1px solid lightgrey;
	border-radius: 6px;
	background-color: '#fffefe';
}
input:invalid {
	border: 1px solid red;
}
input:focus {
	box-shadow: 0.3em 0.3em 1em rgb(150 150 150 / 60%);
}
label {
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
	margin-top: 0.7rem;
}
button {
	border: 0;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	background-color: rgb(89, 109, 72);
	width: 16em;
	height: 3.4em;
	margin-top: 3%;
	margin-left: 5%;
}

#logintext {
	margin-top: 3%;
	margin-left: 5%;
}

#logintext a {
	color: rgb(89, 109, 72);
	font-weight: bold;
	text-decoration: none;
}
